body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 2em;
    background-color:#EDEDED;

}
h3{
     color:red;
     border-bottom:solid 1px #929CA4 ;
}
body p:first-of-type::first-letter {
    font-size: 30px;
}
.solution{
    color: #CC1C0D;
    font-weight: bold;
}
#testimonial1 , #testimonial2 {
    font-style: italic;
    margin-left:50px;
}
a[href^='http']:link {
    color: blue;
    text-decoration:underline ;
}
a[href^='http']:visited {
    color: green ;
    text-decoration: dotted ;
}
a[href^='http']:active {
    color:yellow ;
    text-decoration: dashed ;
}
a[href^='http']:hover {
    color: red;
    text-decoration:none;
}
ul li {
    list-style-type:none;
}
ul li:first-child {
    color:blue;
}
ul li:last-child {
    color:red;
}